body {
    margin: 0;
}

main {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 100px;
}

header {
    padding: 25px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 2px solid grey;
}

header p {
    margin: 0;
}

header nav a {
    padding: 5px;
    text-decoration: none;
    color: black;
}

.grid {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px 30px;
}

.card {
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.card-body {
    padding: 10px;
    border-top: 1px solid black;
}

.card h2 {
    margin: 0;
    margin-bottom: 10px;
}

.card p {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (width >=768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (width >=1024px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (width >=1200px) and (width < 2000px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

footer {
    border-top: 2px solid grey;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.footer-logo {
    text-align: center;
    margin-bottom: 20px;
    min-width: 200px;
}

.footer-logo img {
    width: 100px;
    height: auto;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 800px;
    text-align: center;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .footer-logo {
        text-align: left;
        margin-bottom: 0;
    }

    .footer-links {
        text-align: left;
    }
}
